---
import Layouts from "../layouts/layouts.astro";
import bgImages from "../../public/images/1.jpg";
import bgImages2 from "../../public/images/2.jpg";
import bgImages3 from "../../public/images/3.jpg";
import bgImages4 from "../../public/images/4.jpg";
import bgImages5 from "../../public/images/5.jpg";
import bgImages6 from "../../public/images/6.jpg";
import bgImages7 from "../../public/images/7.jpg";
import bgImages8 from "../../public/images/8.jpg";
import bgImages9 from "../../public/images/9.jpg";
import bgImages10 from "../../public/images/10.jpg";
import bgImages11 from "../../public/images/11.jpg";
import bgImages12 from "../../public/images/12.jpg";
---
<Layouts paginaTitulo="Acerca de">
    <div class="gap-5 mt-4 ">
    <h1 class="text-center font-extrabold text-6xl">Acerca de ImplusArte</h1>
    <p class="text-center font-semibold text-3xl">Te muestro un poco de mi trabajo</p>
    <div >
    <img  class="img" src={bgImages} alt="">
    <img  class="img" src={bgImages2} alt="">
    <img  class="img" src={bgImages3} alt="">
    <img  class="img" src={bgImages4} alt="">
    <img  class="img" src={bgImages5} alt="">
    <img  class="img" src={bgImages6} alt="">
    <img  class="img" src={bgImages7} alt="">
    <img  class="img" src={bgImages8} alt="">
    <img  class="img" src={bgImages9} alt="">
    <img  class="img" src={bgImages10} alt="">
    <img  class="img" src={bgImages11} alt="">
    <img  class="img" src={bgImages12} alt="">
    </div>
   </div>
    <style>
        .img { 
        border-radius: 10px;
        box-shadow: 0 5px 5px 0, 0 5px 5px 0;
        width: 1000px;
        margin: 15px;
        }
    </style>
</Layouts>